#set( $adminRoot = '/admin')
#set( $search = "?orderby=$orderby" )
#set( $goto = "$adminRoot/quotation/inquiries/list" )
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户询价列表</title>
<link rel="stylesheet" type="text/css" href="$adminRoot/css/bootstrap.min.css"/>
</head>
<body>
	<div class="well">
       	<form class="form-search pull-left" action="$adminRoot/quotation/inquiries/search.do" method="POST">
			<input type="text" class="input-medium search-query" name ="keyword" placeholder="机床序列号"  value="" required>
			<button type="submit" class="btn">搜索</button>
		</form>
 	</div>
    <div class="well">
		<a class="btn btn-primary" href="$adminRoot/quotation/inquiries/add.do">新增用户询价</a>
	</div>
	<div class="well">
       	<form class="form-search pull-right" action="$adminRoot/quotation/inquiries/list/1" method="POST">
       		<select id="orderby" name="orderby" class="input-medium search-query">
            	<option value="1" #if($orderby == '1') selected="selected"  #end>机床序列号</option>
            	<option value="2" #if($orderby == '2') selected="selected"  #end>更新时间</option>
        	</select>
			<button type="submit" class="btn">排序</button>
		</form>
		<label  for="orderby">排序方式：当前为#if($orderby == '1')机床序列号  #elseif($orderby == '2')更新时间#end </label>
    </div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>机床序列号</th>
				<th>询价日期</th>
				<th>询价单位</th>
				<th>是否代理</th>
				<th>备注</th>
				<th>询价明细</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="color:#f00"><a href="$adminRoot/quotation/manufacturers/view.do"><strong>XXXXXX</strong> </a></td>
				<td>2014-12-21</td>
				<td>TEST</td>
				<td>否</td>
				<td>VIP</td>
				<td style="color:#f00"><a href="$adminRoot/quotation/manufacturers/view.do"><strong>XXXXXX</strong> </a></td>
			</tr>
		</tbody>
	</table>
	#parse("$adminRoot/pagination.vm")
<script src="$adminRoot/js/jquery.min.js"></script>
<script src="$adminRoot/js/bootstrap.min.js"></script>
</body>
</html>