.imageSlider1 { margin:0;padding:0; height:20px; width:188px; background-image:url("/admin/slider/images/scrollbg.gif"); }
.imageBar1    { margin:0;padding:0; height:17px; width:10px; background-image:url("/admin/slider/images/scrfloat.gif");cursor:pointer;}

