#set( $adminRoot = '/admin')
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>厂商报价</title>
<link rel="stylesheet" type="text/css" href="$adminRoot/css/bootstrap.min.css"/>
</head>
<body>
#if($err_msg)
$err_msg
#else
	<div class="well">
    	<ul class="breadcrumb" style="width:80%;margin-bottom:0;">
			<li>当前位置: 厂商报价管理<span class="divider">/</span></li>
			<li><a href="$adminRoot/quotation/manufacturers/list/1">厂商报价列表</a> <span class="divider">/</span></li>
			<li class="active">厂商报价</li>
		</ul>
    </div>
    <div class="well">
		<a class="btn btn-primary" href="$adminRoot/quotation/manufacturers/adddetail.do">新增报价明细</a>
	</div>
    <form class="form-horizontal well" method="post" action="$adminRoot/quotation/manufacturers/create.do" enctype="multipart/form-data">
  		<div class="control-group">
    		<label class="control-label" for="name">机床序列号：1234</label>
    		<div class="controls">
      			<input type="text" id="name" name="name">
    		</div>
  		</div>
        <div class="control-group">
    		<label class="control-label" for="name">有效日期：2014-12-21</label>
    		<div class="controls">
      			<input type="text" id="name1" name="name1">
    		</div>
  		</div>
        <div class="control-group">
    		<label class="control-label" for="order">报价日期：2014-12-21</label>
    		<div class="controls">
      			<input type="text" id="name2" name="name2" >
    		</div>
  		</div>
  		<div class="control-group">
    		<label class="control-label" for="order">总价格：10000</label>
    		<div class="controls">
      			<input type="text" id="name3" name="name3" >
    		</div>
  		</div>
  		<div class="control-group">
    		<label class="control-label" for="order">货币名称：人民币</label>
    		<div class="controls">
      			<input type="text" id="name4" name="name4" >
    		</div>
  		</div>
  		<div class="control-group">
    		<label class="control-label" for="order">备注：测试</label>
    		<div class="controls">
      			<input type="text" id="name5" name="name5" >
    		</div>
  		</div>
        <div class="control-group">
    		<label class="control-label" ></label>
    		<div class="controls">
                <input type="submit" class="btn offset6 btn-primary btn-large" value="更新">
    		</div>
  		</div>
	</form>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>备件号</th>
				<th>单价</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>123456</td>
				<td>10000</td>
				<td>10</td>
			</tr>
		</tbody>
	</table>
<script src="$adminRoot/js/jquery.min.js"></script>
<script src="$adminRoot/js/bootstrap.min.js"></script>
#end
</body>
</html>